<div class="container-fluid p-0">
    <section id="section1" class="background-1">
        <app-header></app-header>
    </section>
    <section id="section2">
        <div class="row">
            <div class="col">resim</div>
            <div class="col">
                <h3 class="section2_title">
                    Bahce'den Sofraya
                </h3>
                <p class="section2_p">
                    Zeytinyağlarımız 
                    Aydın'ın 
                    Kızıl Güney Köyü'ndeki
                    Bahcelerimizde
                    İyi tarım uygulamları
                    ile yetiştirilen 
                    zeytinlerimizden
                    üretilir.
                </p>
            </div>
        </div>
    </section>
    
    <section id="section3">
        <div class="row">
            <div class="col">
                <h3 class="section3_title">
                    Urunlerimiz
                </h3>
                <p class="section3_p">
                    KızılGüney, <br>
Organik Zeytinlerden 
Sağlıklı ve <br> 
Kaliteli Zeytinyağları üretir.
                </p>
                <button class="section3_button">
                    Daha fazla
                </button>
            </div>
            <div class="col">
                <img src="../../../assets/images/three_bottles.png" alt="">
            </div>
        </div>
    </section>
    <section id="section4">
        <div class="row">
            <div class="col">
                <img src="../../../assets/images/olive-oil.png" width="50%" alt="">
            </div>
            <div class="col">
                <h3 class="section4_title">
                    Hikayemiz
                </h3>
                <p class="section4_p">
                    Organik tarım projemiz ile bölge üreticisiyle işbirliği içinde
                    organik üretim yapmaktayız. 
                    Bölgede zeytincilik yapan köylere organik tarım projemiz ile 
                    kalkınmasına destek olmakta 
                    aynı zamanda katmadeğer yaratmaktayız. 
                </p>
                <div class="section4_btn_container">
                    <button class="section4_button">Daha fazla</button>
                </div>
            </div>
        </div>
    </section>
    <section id="section5" class="section5_background">
        <h5 class="section5_text">
            Çine Madran Dağı eteklerinde 
            bölge 300 rakımlı memecik türü zeytinler orman vasfında  
            150-200 yaş  ortalamasına sahip ağaç varlığı ile
            ekolojik olarak iklime ve coğrafyaya adapte olmuş,
            altında hayvanların otladığı yabani hayatın devam ettiği
            endüstriyel tarımın yapılmadığı bir coğrafyada faaliyet göstermekteyiz. 
        </h5>
    </section>
    <section id="footer">
        <app-footer></app-footer>
    </section>
</div>